<!DOCTYPE html>
html(lang="ja")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="theme-color" content="#fff")
	title myAdmin for 村村村
	script(src="https://use.fontawesome.com/7235bff4de.js")
	link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
	link(rel="stylesheet" href="./stylesheets/main.css")
body
	.container
		navbar(title="{opts.title}")

		route
	script(src="./scripts/squire-raw.js")
	script(src="./scripts/bundle.js")