<!DOCTYPE html>
html(lang="ja")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="theme-color" content="#fff")
	title myAdmin for 村村村
	link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
	style.
		html, body, div, ul, ol, li, h1, h2, h3,
		button, input, textarea, p {
			margin: 0;
			padding: 0;	
		}
		h1, h2, h3 {
			font-size: 1em;
			font-weight: normal;
		}
		ul, ol {
			list-style-type: none;
		}
		.container {
			max-width: 480px;
			margin: 0 auto;
			padding-bottom: 50px;
			padding-top: 50px;
		}
body
	.container
		navbar(title="{opts.title}")

		route
	script(src="./scripts/bundle.js")